body {
  background: #ff9800;
  color: #222222;
  display: flex;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
}

/*Vänstersidan*/
aside p {
  margin: 0%;
  font-weight: bolder;
  font-size: 15px;
  padding: 0;
  text-align: center;
  font-family: "Robotic";
}

aside img {
  width: auto;
  margin: auto;
  display: block;
  border-color: #222222;
  border-width: 10px;
}

aside .contactLogo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/*Mainsida*/

.contentWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.546),
      rgba(245, 152, 0, 0.75)
    ),
    url("photos/hostBildBakgrund.jpg");
  background-position: center;
  display: flex;
  padding: 0px;
  margin: 0px;
  left: 0px;
  text-align: center;
}

.contentWrapper article {
  background-color: rgba(245, 152, 0, 0.7);
  border-style: solid;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
}

.contentWrapper section {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

section p {
  margin: 0%;
  font-weight: bolder;
  font-size: 0.75rem;
  padding: 10px;
  text-align: left;
}

.sectionCV {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionCV p {
  margin: 0%;
  font-weight: normal;
  font-size: 1rem;
  padding: 10px;
  text-align: left;
}

meter {
  min-width: 100%;
  min-height: 2rem;
}

/*Mobilsida*/
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
  .contentWrapper {
    flex-direction: column;
  }

  .sectionCV {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    justify-content: space-evenly;
  }
}
